<!DOCTYPE html>
<html>
<head>
  <title>Raspberry Pi to Arduino Communication</title>
  <style>
    .btn {
      padding: 10px 20px;
      font-size: 20px;
      border: 2px solid black;
      border-radius: 5px;
      text-decoration: none;
      color: black;
    }
  </style>
  <script type="text/javascript">
    function decrease20() {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/decrease_20", true);
      xhr.onreadystatechange = function() {
        if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
          document.getElementById("value").innerHTML = "Value: " + this.responseText;
        }
      };
      xhr.send();
    }

    function decrease10() {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/decrease_10", true);
      xhr.onreadystatechange = function() {
        if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
          document.getElementById("value").innerHTML = "Value: " + this.responseText;
        }
      };
      xhr.send();
    }

    function increase10() {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/increase_10", true);
      xhr.onreadystatechange = function() {
        if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
          document.getElementById("value").innerHTML = "Value: " + this.responseText;
        }
      };
      xhr.send();
    }

    function increase20() {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/increase_20", true);
      xhr.onreadystatechange = function() {
        if (this.readyState == XMLHttpRequest.DONE && this.status == 200) {
          document.getElementById("value").innerHTML = "Value: " + this.responseText;
        }
      };
      xhr.send();
    }
  </script>
</head>
<body>
  <h1>Raspberry Pi to Arduino Communication</h1>
  <div style="display: flex; align-items: center;">
    <a href="#" class="btn" onclick="decrease20()"><<</a>
    <a href="#" class="btn" onclick="decrease10()"><</a>
    <p id="value" style="margin: 0 20px; font-size: 20px;">Value: {{ value }}</p>
    <a href="#" class="btn" onclick="increase10()">></a>
    <a href="#" class="btn" onclick="increase20()">>></a>
   </div>
</body>
</html>
